
@media screen and (min-width: 1024px) {
    .about h1 {
        text-align: left;
    }

    .nav-items {
        width: 20%;
      }

    .services h1 {
        text-align: left;
    }

    .pseudo-box {
        width: 960px;   
    }

    .landing-text-area {
        height: 35%;
        width: 65%;
    }
        
    .service-wrapper {
        margin-top: 20px;
    }
    
    .service-box {
        width: 200px;
        height: 200px;    
        margin: 30px 30px;
    }
    
    .service-box-dot {
        width: 22px;
        height: 22px;        
        top: -11px;
        left: -11px;    
    }

    footer .pseudo-box {
        height: 72px;       
        flex-direction: row;
        justify-content: space-between;
    }        
}