* {
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, helvetica, arial;
    line-height: 1.3;
}

p {
    font-size: 18px;    
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
}

.about h1 {
    padding-bottom: 0px;
    color: #000000;
    text-align: center;
}

.services h1 {
    text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

.about h2 {
    color: #000000;
}

.service-box h2 {
    font-size: 24px;
    font-weight: normal;
}

.pseudo-box {
    width: 92%;   
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    background-color: #4E4E4E;
}

.pseudo-box .company-name {
    float: left;
    display: block;
}

nav .pseudo-box ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .6); 
}

nav .pseudo-box ul a {
    display: block;
    padding: 20px;    
    color: #ffffff;
    text-align: right;
}

nav .pseudo-box ul a:hover {
    background-color: #bbbbbb;
}

nav .pseudo-box {
    color: #f1f1f1;
    font-weight: 500;
}

nav .pseudo-box .company-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    color: #ffffff;
}

nav .pseudo-box .nav-menu {
    clear: both;    
    max-height: 0; 
    transition: max-height .2s ease-out;
}

nav .pseudo-box .nav-menu-icon {
    padding: 24px 0;
    position: relative;
    float: right;
    cursor: pointer;
}

nav .pseudo-box .nav-menu-icon .nav-icon-burger {    
    position: relative;
    background: rgb(206, 206, 206);
    display: block;
    height: 3px;
    width: 25px;
    transition: background .5s ease-out;
}

nav .pseudo-box .nav-menu-icon .nav-icon-burger::before {
    content: "";
    position: absolute;
    top: -10px;
    background: rgb(206, 206, 206);
    display: block;
    height: 100%;
    width: 100%;   
    transition: all .5s ease-out; 
}

nav .pseudo-box .nav-menu-icon .nav-icon-burger::after {
    content: "";
    position: absolute;
    top: 10px;
    background: rgb(206, 206, 206);
    display: block;
    height: 100%;
    width: 100%; 
    transition: all .5s ease-out;    
}

nav .pseudo-box .nav-menu-btn {
    display: none;
}

nav .pseudo-box .nav-menu-btn:checked ~ .nav-menu {
    max-height: 240px;
}

nav .pseudo-box .nav-menu-btn:checked ~ .nav-menu-icon .nav-icon-burger {
    background: transparent;
}

nav .pseudo-box .nav-menu-btn:checked ~ .nav-menu-icon .nav-icon-burger::before {
    top: 0;
    transform: rotate(-45deg);
}

nav .pseudo-box .nav-menu-btn:checked ~ .nav-menu-icon .nav-icon-burger::after {
    top: 0;
    transform: rotate(45deg);
}

.nav-items-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.landing-shadow {
    background-color: rgba(0, 0, 0, .4); 
    width: 100%;
    height: 100%;
}

.landing {
    background: url(../img/person-typing.jpg) no-repeat center center;
    background-size: cover;    
}

.landing-shadow .pseudo-box {
    display: flex;
    align-items: center;
    height: 100vh;
}

.landing-text-area {
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff;
}

.landing-text-area a,
.landing-text-area h1,
.landing-text-area h2 {
    margin: 15px 0;
}

.landing-cta {
    padding: 10px 40px;
    border: 3px solid #ffffff;    
    font-size: 18px;
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    transition: 1s all;
}

.landing-cta:hover {
    background-color: white;
    color: black;
}

section {
    padding: 50px 0;
}

section.services {
    padding-bottom: 20px;
}

.landing {
    padding: 0 0;
}

.about {
    background-color: #F1F1F1;
}

.about-specialist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.about-specialist:last-child {
    margin-bottom: 0px;
}

.about-specialist-photo {
    width: 200px;
    height: 200px;

    background-size: cover;
    background-position: center;
    border-radius: 50%;
    flex-shrink: 0;
}

.about-specialist-photo--employee1 {
    background-image: url(../img/emloyee-03.jpg);
}

.about-specialist-photo--employee2 {
    background-image: url(../img/emloyee-04.jpg);
}

.about-specialist-photo--employee3 {
    background-image: url(../img/emloyee-05.jpg);
}

.about-specialist-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 0 0;
    text-align: justify;
}

.about p {
    padding-top: 1rem;
}

.services {
    background-color: #405D78;
}

.services .pseudo-box h1 {
    color: #ffffff;
}

.service-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-items: space-between;
    justify-content: center;
    margin: 35px 0 20px 0;
}

.service-box {
    display: flex;
    flex-direction: column;
    width: 70vw;

    position: relative;
    padding: 15px;
    margin: 15px 15px;
    background-color: #F1F1F1;
    justify-content: center;
    align-items: center;
    transition: .5s all;
}

.service-box:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.service-box-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.service-box-dot {
    width: 38px;
    height: 38px;
    position: absolute;
    top: -19px;
    left: -19px;
    border-radius: 50%;
    background-color: #E07A64;
}

.service-box:hover {
    transform: scale(1.05);
}

footer {
    background-color: #4E4E4E;   
}

footer .pseudo-box {
    height: 147px;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer p {
    color: #ffffff;
    text-align: center;
}

footer i {
    font-size: 30px;
    color: #ffffff;
    padding: 5px;
}

footer i:hover {
    opacity: 0.5;
}