@media screen and (min-width: 640px) {
  .pseudo-box {
      width: 90vw;   
  }

  nav .pseudo-box ul {
    background-color: rgba(0, 0, 0, .0);
  }

  nav .pseudo-box li {
    float: left;
  }

  nav .pseudo-box li a {
    padding: 15px 15px;
  }

  nav .pseudo-box .nav-menu {
    clear: none;
    float: right;
    max-height: none;
  }

  nav .pseudo-box .nav-menu-icon {
    display: none;
  }

  .landing-text-area {
    height: 35%;
    width: 60%;
    justify-content: center;
  }

  .about-specialist {
    flex-direction: row;
    margin-bottom: 20px;
  }

  .about-specialist-description {
      padding: 0;
  }

  .about-specialist-description {
      text-align: left;
  } 

  .about-specialist:nth-child(odd) .about-specialist-description {
      text-align: right;
  }

  .about-specialist:nth-child(odd) {
      flex-direction: row-reverse;
  }

  .about-specialist .about-specialist-photo {
      margin: 0 50px 0 0;
  }

  .about-specialist:nth-child(odd) .about-specialist-photo {
      margin: 0 0 0 50px;
  }

  .service-box {
    width: 35vw;       
    margin: 25px 25px;
  }

  .service-box-dot {
    width: 22px;
    height: 22px;        
    top: -11px;
    left: -11px;    
  }  
}